<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS3_SPRX_Loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PS3_SPRX_Loader.Properties.Settings>
            <setting name="Module" serializeAs="String">
                <value>/dev_hdd0/tmp/module.sprx</value>
            </setting>
            <setting name="PPC" serializeAs="String">
                <value />
            </setting>
            <setting name="OpCodes" serializeAs="String">
                <value />
            </setting>
            <setting name="InjectAddress" serializeAs="String">
                <value>0x00010000</value>
            </setting>
            <setting name="PeekAddress" serializeAs="String">
                <value>0x00010000</value>
            </setting>
            <setting name="PeekSize" serializeAs="String">
                <value>0x100</value>
            </setting>
        </PS3_SPRX_Loader.Properties.Settings>
    </userSettings>
</configuration>